*.js
*.d.ts
!jest.config.js
!eslint.config.mjs
!src/create-key-pair/index.test.js
node_modules
coverage

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# Build
dist
tsconfig.tsbuildinfo

# Jetbrains IDE files
.idea