.github
*.ts
!*.d.ts
jest.config.js
tsconfig.json
tsconfig.tsbuildinfo
test
!src/create-key-pair/*
src/create-key-pair/node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Ensure .jsii is included
!.jsii
