name: build

on:
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - '**.md'

permissions:
  contents: read

jobs:
  node:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            src/create-key-pair/package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Install Jest globally
        run: npm install -g jest

      - name: Install Lambda Dependencies
        run: npm ci --prefix src/create-key-pair

      - name: Build Lambda
        run: npm run build --prefix src/create-key-pair

      - name: Build
        run: npm run build

      - name: Lint
        run: npm run lint

      - name: Format Check
        run: npm run format:check

      - name: Test CDK Constructs
        run: npm test

      - name: Test Lambda
        run: npm run test:lambda
