name: release

on:
  push:
    branches:
      - 'master'

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.x

      - name: Install Dependencies
        run: npm ci

      - name: Install Jest globally
        run: npm install -g jest

      - name: Install Lambda Dependencies
        run: npm ci --prefix src/create-key-pair

      - name: Build Lambda
        run: npm run build --prefix src/create-key-pair

      - name: Build
        run: npm run build

      - name: Test
        run: npm test

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run semantic-release
